.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.title {
  text-align: center;
  color: rgb(8, 8, 8);
}

.cardSelf {
  position: relative;
}
.filmTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  text-align: center;
  padding: 0.5rem 0;
  z-index: 2;
  font-size: 1.5rem;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-wrap: break-word;
  color: orange;
}

.filmDescription {
  opacity: 0.9;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  color: orange;
}
.mySwiper:hover .filmDescription,
.mySwiper:hover .filmTitle {
  opacity: 1;
}
.imgSelf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper {
  width: 75vw;
  height: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background: white;
}
@media screen and (min-width: 450px) {
  .swiper {
    width: 70vw;
  }
  .filmTitle {
    font-size: 1.7rem;
  }
  .filmDescription {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 678px) {
  .swiper {
    width: 65vw;
  }
  .filmTitle {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 972px) {
  .swiper {
    height: 85%;
    width: 50vw;
  }
  .filmTitle {
    font-size: 2.2rem;
  }
}
