*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

ul,
li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
img > alt {
  text-align: center;
}
